{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 140,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "insertPragma": false,
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
  "tailwindFunctions": ["clsx"],
  "tailwindPreserveWhitespace": false,
  "tailwindPreserveDuplicates": false,
  "tailwindAttributes": ["myClassList"],
  "importOrder": [
    "^react",
    "^next",
    "^[a-z]",
    "^@/(components|features)/(.*)$",
    "^@/utils/(.*)$",
    "^[./]",
    "\\.(svg|png|jpg|jpeg|ico)$",
    "\\.json$",
    "\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
